<nz-layout class="layout">
  <nz-header>
    <a class="navBrand" [routerLink]="['/']">
      <img src="./assets/logo.cd734165.png" alt="" style="width:50px;">

      <ul>
        <li style="font-size: 16px;">智慧国检数据系统</li>
        <li>Intelligent China Inspection And Quarantine</li>
      </ul>

    </a>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 63.5px;" class="topnav">
      <li nz-menu-item> <a [routerLink]="['/']">主页</a> </li>
      <li nz-menu-item> <a [routerLink]="['/home']">概览</a> </li>
      <li nz-menu-item>查验</li>
      <li nz-menu-item>采样</li>
      <li nz-menu-item>登记</li>

      <li style="float:right">
        <button nz-button [nzType]="'primary'">
          <span>登录</span>
        </button>
      </li>
    </ul>
  </nz-header>
</nz-layout>
