

    <ul nz-menu [nzMode]="'inline'" style="height:100%">
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i>服饰</span>
        <ul>
          <li nz-menu-item>货物统计分析大表</li>
          <li nz-menu-item>物流公司分析</li>
          <li nz-menu-item>货物量分析</li>
          <li nz-menu-item>货物地域分析</li>
          <li nz-menu-item>申报企业分析</li>
          <li nz-menu-item>代理公司分析</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-laptop"></i>首饰</span>
        <ul>
          <li nz-menu-item>货物统计分析大表</li>
          <li nz-menu-item>物流公司分析</li>
          <li nz-menu-item>货物量分析</li>
          <li nz-menu-item>货物地域分析</li>
          <li nz-menu-item>申报企业分析</li>
          <li nz-menu-item>代理公司分析</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-notification"></i>食品</span>
        <ul>
          <li nz-menu-item>货物统计分析大表</li>
          <li nz-menu-item>物流公司分析</li>
          <li nz-menu-item>货物量分析</li>
          <li nz-menu-item>货物地域分析</li>
          <li nz-menu-item>申报企业分析</li>
          <li nz-menu-item>代理公司分析</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-laptop"></i>鲜活货</span>
        <ul>
          <li nz-menu-item>货物统计分析大表</li>
          <li nz-menu-item>物流公司分析</li>
          <li nz-menu-item>货物量分析</li>
          <li nz-menu-item>货物地域分析</li>
          <li nz-menu-item>申报企业分析</li>
          <li nz-menu-item>代理公司分析</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-laptop"></i>化妆品</span>
        <ul>
          <li nz-menu-item>货物统计分析大表</li>
          <li nz-menu-item>物流公司分析</li>
          <li nz-menu-item>货物量分析</li>
          <li nz-menu-item>货物地域分析</li>
          <li nz-menu-item>申报企业分析</li>
          <li nz-menu-item>代理公司分析</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-laptop"></i>其他</span>
        <ul>
          <li nz-menu-item>货物统计分析大表</li>
          <li nz-menu-item>物流公司分析</li>
          <li nz-menu-item>货物量分析</li>
          <li nz-menu-item>货物地域分析</li>
          <li nz-menu-item>申报企业分析</li>
          <li nz-menu-item>代理公司分析</li>
        </ul>
      </li>
    </ul>


